
body{
    width: 100%;
    height: 100%;
    background-color: darkslateblue;
    margin: 0px;
}
.task {
    width: 100%;
    height: 320px;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
}
article {
    width: 700px;
    height: 270px;
    background-color: lavender;
    padding: 10px;
    box-sizing: border-box;
}
#resultFruits {
    visibility: hidden;
}
p {
    margin: 10px 0px 10px 0px;
}